div.uberselectionWidgetResultsContainer {
  position: absolute;
  height: 20em;
  background-color: yellow;
}

ul.uberselectionWidgetResults {
  float: left;
  height: 20em;
  width: 20em;
  overflow: auto;
  background-color: #ccc;
  margin: 0;
  padding: 0;
}

ul.uberselectionWidgetResults li {
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  background-color: #eee;
}

ul.uberselectionWidgetResults li.highlight {
  background-color: #8cacbb;
}

ul.uberselectionWidgetResults a.uswParent,
ul.uberselectionWidgetResults a.uswBrowse {
    color: black;
    text-decoration: none;
    border-bottom: none;
}
