ul.uberselectionWidgetResults {
  position: absolute;
  height: 140px;
  overflow: auto;
  background-color: #ccc;
  border-top: 1px solid #999;
  margin: 0;
  padding: 0;
}

ul.uberselectionWidgetResults li {
  display: block;
  margin: 0;
  padding: 4px 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-width: 0 1px 1px 1px;
  min-width: 100px;
}

ul.uberselectionWidgetResults li.highlight {
  background-color: #8cacbb;
}

ul.uberselectionWidgetResults a.uswParent,
ul.uberselectionWidgetResults a.uswBrowse {
    color: black;
    text-decoration: none;
    border-bottom: none;
}
